# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Runtime data
*.cache
*.tmp
.tmp/

# Editor & OS specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
